<h3>{{actionCategory.getName()}}</h3>

<our-action *ngFor="#a of getActions()" [action]="a" [category]="actionCategory.getName()"></our-action>

<div class="add-item-button">
  <button class="btn btn-default" (click)="addAction(); getPersistenceService().markDirty()">Add to {{actionCategory.getName()}}</button>
</div>
