@import "./ourvariables";

.our-heading-row h2 {
  margin-top: 50px - 20px; // navbar height minus body top-margin
  margin-bottom: 0;

  padding-top: 5px;
  padding-bottom: 5px;

  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
  border-left: 1px solid #888;

  color: rgba(125, 125, 125, 0.5);
  background-color: #ccc;
  text-shadow: 1px 4px 6px #ccc, 0 0 0 #666, 1px 4px 6px #ccc;
  text-align: center;
}

.our-navbar-heading {
  font-weight: bold;
  font-size: 16px;
}

th {
  color: $our-purple;
}
td {
  font-size: 12px;
}

.add-item-button .btn {
  text-align: center;
  width: 100%;
}

.add-category-button {
  width: 100%;
  margin-top: 30px;
}
.add-category-button:hover {
}

#our-notes {
  font-size: 22px;
  vertical-align: middle;
}

#our-notes:hover {
  background-color: $our-purple;
  color: white;
}

#our-notes-textarea {
  border: 1px solid transparent;
}

.our-stat-notes {
  margin-top: 5px;
  border-color: #ddd;
  width: 100%;
}

#our-player-name {
  font-size: 24px;
  font-weight: bolder;
  background-color: transparent;
  height: 100%;
}

.our-clear-search-box {
  margin-left: -25px;
  font-size: 12px;
  color: #ccc;
  cursor: pointer;
}

.our-clear-search-box:hover {
  color: $our-red;
}

#our-rolls-column, #our-actions-column, #our-player-column {
  position: relative;

  > div {
    margin-left: -15px;
    position: fixed
  }
}

#our-actions-column, #our-player-column {
  > div {
    height: calc( 100% - 96px );
    overflow-y: auto;
    padding-bottom: 20px;
  }
}

.our-stat-header {
  margin-right: 5px;
  font-weight: bold;
}

.our-create-substat {
  text-align: center;
  margin: 0px;
  color: #aaa;
  cursor: pointer;
}

.our-create-substat:hover {
  color: #888;
}

.our-substat-value {
  width: 40px;
  border: 1px solid #ddd;
}
.our-substat-value-linked {
  background-color: #FFFFA6 !important;
}

.our-stat-value {
  margin: 0px 5px;
  background-color: white;
  border: 1px solid #ccc;
  width: 25px;
  text-align: center;
  font-weight: unset;
}

.our-dice-roll {
  padding: 3px;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #ccc;

  .our-dice-roll-name {
    padding-left: 10px;

    span {
      font-weight: normal;
      color: #333;
      font-size: 12px;
    }
  }

  .our-dice-roll-value {
    text-align: right;
    padding-right: 10px;
  }
}

.our-glyphicon-delete {
  color: #ccc;
  cursor: pointer;
  float: right;
  font-size: 16px;
  margin: 3px;
}

.our-glyphicon-delete:hover {
  color: $our-red;
}

.our-glyphicon-link-begin {
  color: #ccc;
  cursor: pointer;
  font-size: 16px;
  margin: 3px;
}
.our-glyphicon-link-begin:hover {
  color: $our-purple;
}

.our-glyphicon-link-cancel {
  color: #ccc;
  cursor: pointer;
  font-size: 16px;
  margin: 3px;
}
.our-glyphicon-link-cancel:hover {
  color: $our-red;
}

.our-glyphicon-link-complete {
  color: #5cb85c;
  cursor: pointer;
  font-size: 16px;
  margin: 3px;
}
.our-glyphicon-link-complete:hover {
  color: #449d44;
}

.our-included-stats {
  color: $our-purple;
}

.our-excluded-stats {
  color: #aaa;
}

.our-show-more {
  color: #ccc;
  font-size: 14px;
  cursor: pointer;
  margin-left: -7px;
  margin-right: 5px;
}

.our-show-more:hover {
  color: $our-purple;
}

.our-show-more-purple {
  // color: $our-light-purple;
}

.our-full-width {
  width: 100%;
  border: 1px solid #ddd;
}
