@import "./ourvariables";

// Navbar
$navbar-default-color:             black;
$navbar-default-bg:                $our-light-purple;
$navbar-default-border:            $our-purple;

$navbar-default-link-color:        black;
$navbar-default-link-hover-color:  white;
$navbar-default-link-hover-bg:     $our-purple;
$navbar-default-link-active-color: white;
$navbar-default-link-active-bg:    $our-purple;

// Dropdown
$dropdown-border:                rgba(0,0,0,.15);

// Panel
$panel-heading-padding:       5px 15px;
$panel-body-padding:          5px;

$panel-default-border:        #ccc;
$panel-default-heading-bg:    #eee;

.panel {
  margin-bottom: 5px !important;
}

// Table
$table-cell-padding:            2px;

.table {
  margin-bottom: 0px !important;
}

// Button
$btn-default-bg:                 #ddd;
$btn-default-color:              #888;
$btn-default-border:             #888;
.btn-default:focus {
  background-color: #ddd !important;
  outline: 0 !important;
}
.btn-default:hover {
  color: black !important;
  background-color: #eee !important;
}
