<h3>{{playerStatCategory.getName()}}</h3>

<our-player-stat *ngFor="#s of playerStatCategory.getPlayerStats()" [playerStat]="s" [category]="playerStatCategory.getName()"></our-player-stat>

<div class="add-item-button">
  <button class="btn btn-default" (click)="addPlayerStat(); getPersistenceService().markDirty()">Add to {{playerStatCategory.getName()}}</button>
</div>
