<div class="panel panel-default">

  <div class="panel-heading" (dblclick)="enterEditMode()">
    <span class="our-show-more glyphicon"
          data-toggle="collapse"
          [attr.data-target]="'#player-item-' + playerStat.id"
          (click)="isCollapsed = !isCollapsed"
          [ngClass]="{'glyphicon-chevron-right': isCollapsed, 'glyphicon-chevron-down': !isCollapsed, 'our-show-more-purple': !isCollapsed}"></span>
    <span *ngIf="!inEditMode()" class="our-stat-header">{{playerStat.name}}</span>
    <input [attr.id]="'player-item-text-' + playerStat.id" *ngIf="inEditMode()" type="text" (change)="getPersistenceService().markDirty();" (blur)="exitEditMode()" [(ngModel)]="playerStat.name">
    <span class="our-included-stats"><small>{{playerStat.getVisibleSubPlayerStats()}}</small></span>
    <span class="our-glyphicon-delete glyphicon glyphicon-remove-sign" (click)="deleteItem(); getPersistenceService().markDirty();"></span>
  </div>

  <div [attr.id]="'player-item-' + playerStat.id" class="collapse panel-collapse">
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th *ngIf="getStatlinkService().isLinking"></th>
            <th><span class="glyphicon glyphicon-eye-open"></span></th>
            <th>Property</th>
            <th>Notes</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="#prop of playerStat.subPlayerStats">
            <td *ngIf="getStatlinkService().isLinking"><span class="our-glyphicon-link-complete glyphicon glyphicon-link" (click)="getStatlinkService().endLink(prop.uuid); getPersistenceService().markDirty();"></span></td>
            <td><input class="" type="checkbox" (change)="getPersistenceService().markDirty();" [(ngModel)]="prop.showInHeading"></td>
            <td><input class="our-full-width" type="text" (change)="getPersistenceService().markDirty();" [(ngModel)]="prop.key"></td>
            <td><input class="our-full-width" type="text" (change)="getPersistenceService().markDirty();" [(ngModel)]="prop.value"></td>
            <td><span class="our-glyphicon-delete glyphicon glyphicon-remove" (click)="playerStat.deleteSubPlayerStat(prop); getPersistenceService().markDirty();"></span></td>
          </tr>
        </tbody>
      </table>

      <textarea (change)="getPersistenceService().markDirty();" [(ngModel)]="playerStat.notes" placeholder="Notes..." class="our-stat-notes"></textarea>

    </div>
    <div class="panel-footer">
      <p class="our-create-substat" (click)="playerStat.createSubPlayerStat(); getPersistenceService().markDirty();"> + Create new property + </p>
    </div>
  </div>

</div>
