
<navigation *ngIf="isCharacterChosen()"></navigation>


<div class="container-fluid">

  <div *ngIf="!isCharacterChosen()" class="row">
    <div class="col-md-6">
      <h3>Choose a campaign</h3>
      <ul class="nav nav-pills nav-stacked">
        <li *ngFor="#c of getCampaignService().getCampaigns()"
            [ngClass]="{active: getCampaignService().getActiveCampaign() !== null && getCampaignService().getActiveCampaign().getName() === c.getName()}">
          <a (click)="chooseCampaign(c);">{{c.getName()}}</a>
        </li>
      </ul>
      <button (click)="createCampaign()" class="btn btn-default">Create Campaign</button>
    </div>

    <div class="col-md-6" *ngIf="getCampaignService().getActiveCampaign() !== null">
      <h3>Choose a character</h3>
      <ul class="nav nav-pills nav-stacked">
        <li *ngFor="#c of getCampaignService().getActiveCampaign().players"><a (click)="getCampaignService().setActivePlayer(c)">{{c.name}}</a></li>
      </ul>
      <button (click)="createCharacter()" class="btn btn-default">Create Character</button>
    </div>
  </div>

  <div *ngIf="isCharacterChosen()" class="row our-heading-row">
    <div class="col-md-2">
        <h2>Rolls</h2>
    </div>
    <div class="col-md-5">
        <h2>Actions</h2>
    </div>
    <div class="col-md-5">
        <h2>Player</h2>
    </div>
  </div>

  <div *ngIf="isCharacterChosen()" class="row">
    <!-- Rolls -->
    <div id="our-rolls-column" class="col-md-2">
      <div class="col-md-2">
        <dice-roll *ngFor="#r of getRolls()" [roll]="r"></dice-roll>
      </div>
    </div>
    <!-- Actions -->
    <div id="our-actions-column" class="col-md-5">
      <div class="col-md-5">
        <our-action-category *ngFor="#c of getActionCategories()" [actionCategory]="c"></our-action-category>
        <button type="button" class="btn add-category-button" (click)="addActionCategory(); getPersistenceService().markDirty();">Add Category</button>
      </div>
    </div>
    <!-- Player -->
    <div id="our-player-column" class="col-md-5">
      <div class="col-md-5">
        <our-player-stat-category *ngFor="#s of getPlayerStatCategories()" [playerStatCategory]="s"></our-player-stat-category>
        <button type="button" class="btn add-category-button" (click)="addPlayerStatCategory(); getPersistenceService().markDirty();">Add Category</button>
      </div>
    </div>
  </div>

</div>
