
<div class="panel panel-default">

  <div class="panel-heading" (dblclick)="enterEditMode()">
    <span class="our-show-more glyphicon"
          data-toggle="collapse"
          [attr.data-target]="'#stat-details-' + action.id"
          (click)="isCollapsed = !isCollapsed"
          [ngClass]="{'glyphicon-chevron-right': isCollapsed, 'glyphicon-chevron-down': !isCollapsed, 'our-show-more-purple': !isCollapsed}"></span>
    <button class="btn btn-xs btn-success" (click)="roll()">roll</button>
    <label class="our-stat-value">{{getValue()}}</label>
    <span *ngIf="!inEditMode()" class="our-stat-header">{{action.getName()}}</span>
    <input [attr.id]="'stat-edit-text-' + action.id" *ngIf="inEditMode()" type="text" (blur)="exitEditMode()" (change)="getPersistenceService().markDirty()" [(ngModel)]="action.name">
    <span class="our-included-stats"><small>{{getIncludedStats()}}</small></span>
    <span class="our-excluded-stats"><small>{{getExcludedStats()}}</small></span>
    <span class="our-glyphicon-delete glyphicon glyphicon-remove-sign" (click)="deleteAction(); getPersistenceService().markDirty();"></span>
  </div>

  <div [attr.id]="'stat-details-' + action.id" class="collapse panel-collapse">
    <div class="panel-body">

      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th><span class="glyphicon glyphicon-plus" title="Include this in the roll."></span></th>
            <th>Value</th>
            <th>Name</th>
            <th>Notes</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="#comp of action.getSubactions()">
            <td>
              <span *ngIf="!getStatlinkService().isLinking" class="our-glyphicon-link-begin glyphicon glyphicon-link" (click)="getStatlinkService().beginLink(comp)"></span>
              <span *ngIf="getStatlinkService().isLinking && getStatlinkService().linkBeginning === comp" class="our-glyphicon-link-cancel glyphicon glyphicon-ban-circle" (click)="getStatlinkService().cancelLink()"></span>
              <span *ngIf="getStatlinkService().isLinking && getStatlinkService().linkBeginning !== comp" class="our-glyphicon-link-complete glyphicon glyphicon-link" (click)="getStatlinkService().endLink(comp.uuid)"></span>
            </td>
            <td><input type="checkbox" (change)="getPersistenceService().markDirty();" [(ngModel)]="comp.isIncluded"></td>
            <td>
              <input
                class="our-substat-value" 
                type="text" 
                #substatVal
                (change)="comp.value = substatVal.value; getPersistenceService().markDirty();"
                value="{{getStatlinkService().resolve(comp.getValue())}}"
                [ngClass]="{'our-substat-value-linked': getStatlinkService().resolve(comp.getValue()) !== comp.getValue()}">
            </td>
            <td><input class="our-full-width" type="text" (change)="getPersistenceService().markDirty();" [(ngModel)]="comp.name"></td>
            <td><input class="our-full-width" type="text" (change)="getPersistenceService().markDirty();" [(ngModel)]="comp.description"></td>
            <td><span class="our-glyphicon-delete glyphicon glyphicon-remove" (click)="action.deleteSubaction(comp); getPersistenceService().markDirty();"></span></td>
          </tr>
        </tbody>
      </table>

      <textarea (change)="getPersistenceService().markDirty();" [(ngModel)]="action.notes" placeholder="Notes..." class="our-stat-notes"></textarea>

    </div>
    <div class="panel-footer">
      <p class="our-create-substat" (click)="action.createSubaction(); getPersistenceService().markDirty();"> + Create new substat + </p>
    </div>
  </div>

</div>
