
<nav class="navbar navbar-default navbar-fixed-top">

  <div class="container-fluid">
    <div id="navbar" class="">
      <div class="navbar-form navbar-left">
        <input id="ourPageFilter" class="form-control" type="text" onfocus="this.select();" onmouseup="return false;" placeholder="Filter Actions" [(ngModel)]="getFilterService().filter"/>
        <span class="our-clear-search-box glyphicon glyphicon-remove"
              *ngIf="getFilterService().filter != ''"
              (click)="getFilterService().filter='';"></span>
      </div>

      <div class="navbar-right">

        <div *ngIf="getActivePlayer() !== null" style="display: inline-block; vertical-align: middle;" id="our-player-name">
          {{getActivePlayer().name}}
        </div>

        <div *ngIf="getActivePlayer() !== null" style="display: inline-block" class="dropdown">
          <div id="our-notes" (click)="editNotes()" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
          <ul style="padding: 0" class="dropdown-menu" aria-labelledby="our-notes">
            <li style="margin-bottom: -5px">
              <textarea id="our-notes-textarea" (change)="getPersistenceService().markDirty()" style="border: 1px solid transparent" rows="15" cols="80" [(ngModel)]="getActivePlayer().notes"></textarea>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </div>

</nav>
