<div class="our-dice-roll" [ngStyle]="{opacity : getOpacity()}">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="our-dice-roll-name">{{roll.actionName}} <span>({{roll.playerName}})</span></th>
        <th class="our-dice-roll-value">{{roll.rollTotal}}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="#rollResult of roll.rollResults" [ngClass]="{'text-success': rollResult.value === rollResult.maxPossible, 'success': rollResult.value === rollResult.maxPossible, 'text-danger': rollResult.maxPossible !== rollResult.minPossible && rollResult.value === rollResult.minPossible, 'danger': rollResult.maxPossible !== rollResult.minPossible && rollResult.value === rollResult.minPossible}">
        <td class="our-dice-roll-name">{{rollResult.description}}</td>
        <td class="our-dice-roll-value">{{rollResult.value}}</td>
      </tr>
    </tbody>
  </table>
</div>
